.bagan h2 {
    font-weight: bold;
    color: #045b6e;
    border-bottom: 3px solid #045b6e;
    display: inline-block;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.bagan h5 {
    font-weight: bold;
    color: #045b6e;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .bagan h2 {
        text-align: center;
      
        display: block;
        width: 100%;
    }
}

.bagan h2 {
    text-align: center;
    display: block;
    width: 100%;
}