.berita-desa .info {
    color: #045b6e;
}

.berita-desa h2 {
    font-weight: bold;
    color: #045b6e;
    border-bottom: 3px solid #045b6e;
    display: inline-block;
    padding-bottom: 5px;
}

.berita-detail .card {
    border: none;
}

.formatted-paragraph {
    text-align: justify;
    text-indent: 2em;
    white-space: pre-wrap;
}

.terbaru h4 {
    font-weight: bold;
    color: #045b6e;
    display: inline-block;
    padding-bottom: 5px;
}

.berita-detail h2 {
    font-weight: bold;
    color: #045b6e;
    display: inline-block;
    padding-bottom: 5px;
}

.berita-detail span {
    color: #bad6f1;
}