footer {
    background-color: #045b6e;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer.footer {
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer .row {
    margin: 0 !important;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
}

footer .col-md-4,
footer .col-md-6 {
    padding: 1rem;
  
}

footer p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}