.jelajah {
    padding: 20px;
    border-radius: 5px;
}

.jelajah h2 {
    color: #151B54;
}

.peta-desa h2 {
    font-weight: bold;
    color: #045b6e;
    border-bottom: 3px solid #045b6e;
    display: inline-block;
    padding-bottom: 5px;
}

.beli-desa h2 {
    font-weight: bold;
    color: #045b6e;
    border-bottom: 3px solid #045b6e;
    display: inline-block;
    padding-bottom: 5px;
}


/* ======================================================= */

.batas-desa h2 {
    font-weight: bold;
    color: #045b6e;
    border-bottom: 3px solid #045b6e;
    display: inline-block;
    padding-bottom: 5px;
}

.batas-desa h5 {
    font-weight: bold;
    color: #045b6e;
}

.batas-desa .card {
    padding: 10px;
}

.logo-desa2 img {
    max-width: 40%;
}